html, body {
  font-size: 18px;
}

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p, a, div {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

section {
  height: 100vh;
  width: 100%;
}

#navbar {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  width: 100%;
  border-bottom: 2px solid black;
  position: fixed;
  padding: 0 1rem;
  transition: all .5s;
}

.scrollUp {
  transform: translateY(-5rem);
}

#navbar > p {
  align-self: center;
  font-size: 1.5rem;
  font-weight: bold;
}

#btn-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#btn-holder a {
  padding-left: 2rem;
  text-transform: lowercase;
  font-weight: bold;
  font-size: .9rem;
}

#about {
  animation: colorchange 10s infinite; What the fuck
}

@keyframes colorchange {
  0% {
    background-color: black;
  }

  25% {
    background-color: white;
  }

  50% {
    background-color: black;
  }

  75% {
    background-color: white;
  }
}
