html, body {
  font-size: 18px;
}

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

p, a, div {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

section {
  width: 100vw;
  height: 100vh;
}

#navbar {
  display: flex;
  justify-content: space-between;
  height: 15vh;
  width: 100vw;
  border-bottom: 3px solid black;
  position: absolute;
  top: 0;
}

#navbar>p {
  align-self: center;
  font-size: 2rem;
}

#btn-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#btn-holder a {
  padding-left: 0.5rem;
}

#about {
  animation: colorchange 10s infinite;
}

@keyframes colorchange {
  0% {
    background-color: black;
  }

  25% {
    background-color: white;
  }

  50% {
    background-color: black;
  }

  75% {
    background-color: white;
  }
}
